

<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message"> </span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                </a>
            </li>
        </ul>
    </nav>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-dialog" style="width:1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModal-label">EMPLOYEE TASK LIST</h4>
                </div>
                <div class="modal-body">
                    <div class="row border-bottom">
                        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                            <div class="navbar-header">
                                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
                            </div>
                            <ul class="nav navbar-top-links navbar-right">
                                <li>
                                    <span class="m-r-sm text-muted welcome-message"> </span>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <br />
                        <table id="employee" class="table table-striped table-bordered" style="margin-top:10px;">
                            <thead class="table-active">
                                <tr>
                                    <th>
                                        TASK
                                    </th>
                                    <th>
                                        DESCRIPTON
                                    </th>
                                    <th>
                                        DUE DATE
                                    </th>
                                </tr>
                            </thead>
                                <tr>
                                    <td>
                                        NEW SYSTEM DEVELOPMENT
                                    </td>
                                    <td>
                                       New system developemnt 
                                    </td>
                                    <td>
                                       2020-10-01
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" id="btnCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
